.post_car_form {
  background: url('https://cleantechnica.com/files/2020/07/Tesla-Model-X-S-3-red-white-and-blue-David-Havasi-CleanTechnica.jpg');
}

.post_car {
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.post_car_form {
  display: flex;
  flex-direction: column;
  width: 31vw;
}
select {
  width: 31vw;
}
