.profile {
  display: flex;
  flex-direction: column;
}

.user_profile_top {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.profile_banner {
  width: 100vw;
  height: 50vh;
}

.avatar {
  height: 100px !important;
  width: 100px !important;
  margin-top: 50px;
  margin-left: 50px;
}
.user_profile_name {
  font-size: 40px;
  margin-left:20px;
}

.user_cars > h1 {
  color: black;
}

.user_car_card {
  display: flex;
  flex-direction: column;
  border: lightgray 1px solid;
}

.user_car_card > button {
  position: relative;
  top: 1px;
  right: 1px;
  height: fit-content;
  width: fit-content;
}

.user_car_card > img {
  max-width: 80vw;
  max-height: 60vh;
  border-radius: 5px;
  overflow: hidden;
  display:block;
  margin-right: auto;
  margin-left:auto;
}
.user_car_card > h3 {
  text-align: center;
}