.profile {
  display: flex;
  flex-direction: column;
}

.user_profile {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.profile_banner {
  width: 100vw;
  height: 50vh;
}

.avatar {
  height: 100px !important;
  width: 100px !important;
}
