.search {
  position: absolute;
  top: 35px;
  left: 10%;
  right: 10%;
  width: 1vw !important;
}

.search > button {
  position: absolute;
  left: 0;
  top: 349px;
  text-transform: inherit !important;
  background-color: #b39f19;
  width: 84.5vw;
}
.search > button:hover {
  background-color: white;
  color: #b39f19;
}
