.cards > img {
  min-width: 300px;
  min-height:200px;
  object-fit:fill;
  width:100%;
}
.cards {
  margin:15px;
  overflow:hidden;
  border-radius:5px;
  cursor:pointer;
}

.cards_info{
  margin-top:1px;
  border-radius: 10px;
  padding:10px;

}

.cards_info >h2 {
font-size: 18px;
font-weight:500;
margin-bottom: 5px;
}



