.searchResults {
display:flex;
position:relative;
margin:15px;
padding:15px;
border-bottom:1px solid lightgray;
cursor:pointer;

}

.searchResults > img {
  width:200px;
  height: 200px;
  border-radius:5px;
  overflow: hidden;
}

.searchResults_info {
display:flex;
flex-direction: column;
justify-content: space-between;
padding-left: 10px;
}

.searchResults_topInfo{
  width:50vw;
  padding:5px;
}
.searchResults_topInfo >p{
  color:gray;
  margin-top:10px;
}
.searchResults_heart {
  position:absolute;
}

.searchResults_bottomInfo {
display: flex;
justify-content:space-between;
}

.searchResults_price {
  position: absolute;
  right:15px;
  bottom:15px;
}

.searchResults_stars{
  color:#B39F19;
  display:flex;
  align-items: center;
}